.router-wrapper {
  overflow: hidden;
}

/**
 * 无动画切换
 */
.forward-no-animation-enter {
  opacity: 1;
}

.forward-no-animation-enter-active {
  opacity: 1;
}

.forward-no-animation-exit {
  opacity: 0;
}

.forward-no-animation-exit-active {
  opacity: 0;
}

.back-no-animation-enter {
  opacity: 1;
}

.back-no-animation-enter-active {
  opacity: 1;
}

.back-no-animation-exit {
  opacity: 0;
}

.back-no-animation-exit-active {
  opacity: 0;
}

/**
 * 右侧淡入，右侧淡出
 */
.forward-from-right-enter {
  z-index: 2;
  transform: translate3d(100%, 0, 0);
}

.forward-from-right-enter-active {
  z-index: 2;
  transform: translate3d(0, 0, 0);
  transition: transform 304ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.forward-from-right-enter-done {
  z-index: 2;
}

.forward-from-right-exit {
  z-index: 1;
  transform: translate3d(0, 0, 0);
}

.forward-from-right-exit-active {
  z-index: 1;
  transform: translate3d(-30%, 0, 0);
  transition: transform 304ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.forward-from-right-exit-done {
  z-index: 1;
}

.back-to-right-enter {
  z-index: 1;
  transform: translate3d(-30%, 0, 0);
}

.back-to-right-enter-active {
  z-index: 1;
  transform: translate3d(0%, 0, 0);
  transition: transform 304ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.back-to-right-enter-done {
  z-index: 1;
}

.back-to-right-exit {
  z-index: 2;
  transform: translate3d(0%, 0, 0);
}

.back-to-right-exit-active {
  z-index: 2;
  transform: translate3d(100%, 0, 0);
  transition: transform 304ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.back-to-right-exit-done {
  z-index: 2;
}

/**
 * 下方淡入，下方淡出
 */
.forward-from-bottom-enter {
  z-index: 2;
  opacity: 0;
  transform: translateY(100%);
}

.forward-from-bottom-enter-active {
  z-index: 2;
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms;
}

.forward-from-bottom-exit {
  z-index: 1;
  opacity: 1;
}

.forward-from-bottom-exit-active {
  z-index: 1;
  opacity: 0.3;
  transition: all 300ms;
}

.back-to-bottom-enter {
  z-index: 1;
  opacity: 0.3;
}

.back-to-bottom-enter-active {
  z-index: 1;
  opacity: 1;
  transition: all 300ms;
}

.back-to-bottom-exit {
  z-index: 2;
  opacity: 1;
  transform: translateY(0);
}

.back-to-bottom-exit-active {
  z-index: 2;
  opacity: 0;
  transform: translateY(100%);
  transition: all 300ms;
}
